<div class="container">
  <h1>Lista de Livros</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Título</th>
        <th>Autor</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td>{{ book.titulo }}</td>
        <td>{{ book.autor }}</td>
        <td>Mostrar Detalhe</td>
      </tr>
    </tbody>
  </table>
</div>
